*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.container {
    background-color: #141414;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: #fafafa;
    font-size: 1.6rem;
}
.container > * {
    margin-bottom: 2rem;
}

.transactions {
    display: flex;
    width: 100%;
    word-break: break-all;
    justify-content: space-around;
}
.transactions > div {
    width: 45%;
    overflow-x: scroll;
    outline: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5.6rem;
  height: 2.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:before {
  border-radius: 50%;
}

.web3Selector{
    display: flex;
    align-items: center;
}

.web3Selector>*{
    margin: 0.4rem;
}

.btn {
    padding: 0.5rem 1rem;
}

pre {padding: 5px; margin: 5px;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.highlight {background-color: #B4D5FF}

#tx1{
    color: black;
}