*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.container {
    background-color: #141414;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: #fafafa;
    font-size: 1.6rem;
    padding-top: 12rem;
}
.container > * {
    margin-bottom: 2rem;
}

.transactions {
    display: flex;
    width: 100%;
    word-break: break-all;
    justify-content: space-around;
}
.transactions > div {
    width: 45%;
    overflow-x: scroll;
    outline: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}


.btn {
    padding: 0.5rem 1rem;
    display: block;
}

.web3Selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

pre {padding: 5px; margin: 5px;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.highlight {background-color: #B4D5FF}

#tx1{
    color: black;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B4D5FF;
    padding: 1rem;
    color: #000;
}